<%- include('../partials/header') %>
<div style="background-color: rgb(230, 230, 230)">
  <% if (typeof error != 'undefined') { %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
  <% } %>
  <div
    class="card text-white bg-success mb-3"
    style="max-width: 18rem; margin: auto; text-align: center"
  >
    <div class="card-body">
      <form action="/doctors" method="POST">
        <div class="mb-3">
          <label for="full_name" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            id="full_name"
            name="full_name"
            value="<%= typeof full_name != 'undefined' ? full_name : '' %>"
          />
        </div>
        <div class="mb-3">
          <label for="licence_number" class="form-label">Licence Number</label>
          <input
            type="text"
            class="form-control"
            id="licence_number"
            name="licence_number"
            value="<%= typeof licence_number != 'undefined' ? licence_number : '' %>"
          />
        </div>
        <div class="mb-3">
          <label for="specialization" class="form-label">Specialization</label>
          <input
            type="text"
            class="form-control"
            id="specialization"
            name="specialization"
            value="<%= typeof specialization != 'undefined' ? specialization : '' %>"
          />
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            id="city"
            name="city"
            value="<%= typeof city != 'undefined' ? city : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>